body {
  margin: 0;
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile{
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}
.profile-name{
  line-height: 18px;
  padding: 20px;

}
.profile-name .name{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile-name .title{
  color: #777;
}
.profile-image{
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%,100% 0,100% 94%, 0% 100%);
  clip-path: polygon(0 9%,100% 0,100% 94%, 0% 100%);
}
.profile-image img{
  width: 100%;
}
